/*order*/
.content-row {
  background-color: #EFE9E7; }

.content {
  max-width: 1024px;
  margin: 0 auto; }

.side-bar {
  width: 24%;
  padding: 52px 5px 16px 5px;
  margin-right: 1%;
  float: left; }
  .side-bar p {
    font-size: 20px;
    color: #3D1101;
    line-height: 32px; }
  .side-bar li {
    color: #3D1101;
    line-height: 32px;
    border-bottom: #3D1101 solid 1px; }
  .side-bar li:last-child {
    background-color: #3D1101;
    color: #EFE9E7; }

.fa {
  margin-right: 15px; }

.item-box {
  float: left;
  padding-top: 48px;
  width: 75%;
  /*max-width: 804px;*/ }

@media (max-width: 767px) and (min-width: 375px) {
  .content {
    max-width: 375px; }
  .item-box {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    float: none; }
  .side-bar {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    float: none; } }

@media (max-width: 320px) {
  .content {
    max-width: 320px; }
  .item-box {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    float: none; }
  .side-bar {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    float: none; } }

/*search start*/
.fa-search {
  color: #fff; }

.search {
  padding-left: 10px;
  float: left;
  width: 300px; }

form {
  width: 300px;
  display: inline; }

#search-btn {
  padding-right: 0;
  background-color: #3D1101;
  max-width: 36px;
  height: 32px;
  border: #3D1101 2px solid;
  float: left;
  margin-top: 0; }

#search-btn:hover {
  border: solid 2px #fff; }

#search-area {
  float: left;
  border-radius: 0;
  border: #3D1101 2px solid;
  width: 212px;
  height: 32px; }

.shopping {
  float: right;
  padding-top: 8px; }

.pay {
  color: #3D1101;
  border-right: #3D1101 1px solid;
  padding-right: 12px;
  margin-right: 20px; }

.pay:hover {
  color: #FF5E45; }

.fa-shopping-cart {
  color: #3D1101; }

.fa-shopping-cart:hover {
  color: #333; }

@media (max-width: 767px) and (min-width: 375px) {
  #search-area {
    width: 250px; } }

@media (max-width: 320px) {
  #search-area {
    width: 200px; } }

/*item-list start*/
.item-list li {
  width: 31.33333%;
  margin-left: 1%;
  margin-right: 1%;
  float: left;
  margin-top: 26px;
  margin-bottom: 30px;
  text-align: center;
  -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16); }

.item-img1 {
  background-image: url(../assets/product_1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 120px; }

hr {
  width: 30%;
  border: 1px solid #3D1101;
  margin-top: 8px;
  margin-bottom: 20px; }

.item p {
  text-align: center;
  font-size: 20px;
  color: #3D1101;
  margin-top: 11px; }

.item span {
  font-size: 12px;
  color: #3D1101; }

.btn-add,
.fa-shopping-cart {
  color: #FF5E45;
  font-size: 100%; }

.btn-add {
  border: 2px solid #FF5E45;
  border-radius: 3px;
  width: 90%;
  margin: 0 auto;
  background-color: #EFE9E7;
  margin-top: 16px;
  margin-bottom: 10px; }

.btn-add:hover {
  background-color: #fff;
  color: #FF5E45; }

@media (max-width: 767px) and (min-width: 375px) {
  .item-list li {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    float: none; } }

@media (max-width: 320px) {
  .item-list li {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    float: none; } }
